:root {
    --dun: #DBCFB0;
    --dunlight: #F9F6F1;
    --ashgrey: #BFC8AD;
    --cambridgeblue: #90B494;
    --slategray: #718F94;
    --ultraviolet: #545775;
  
  }
  
  a {
    color: var(--jetblack-font-color);
  }
  
  body {
    margin: 0;
    background: var(--dunlight);
    font-family: 'Modern Sans', sans-serif;
    font-weight: 400;
  
  }

  .photopagefooter {
    background-color:var(--dunlight)!important ;
    color: var(--dunlight) !important;
  }
  
  .carousel-container {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  
  }
  
  .carousel-item:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
  }
  
  .btn {
    color: #DBCFB0 !important;
  }
  
  .container {
    width: 100%;
    margin: 0 auto;
  
  }
  
  .navbar {
    background-color: var(--dunlight) !important;
    min-height: 0px;
    max-width: 100%;
  }
  
  .navbar-brand {
    font-size: 30px;
    margin-right: 35%;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
  }
  
  .tooltip-inner {
    background-color: var(--cambridgeblue);
  }
  
  .tooltip.bottom .tooltip-arrow{ 
    border-color: var(--cambridgeblue);
  }
  
  .custom-tooltip {
    --bs-tooltip-bg: var(--ultraviolet);
  }
  
  .nav-item {
    padding-right: 35px;
  }
  
  .dropdown-menu {
    background: var(--ultraviolet);
    color: var(--dun);
  }
  .navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 23px;
    padding: 9px 10px !important;
  }
  
  @media (min-width: 768px) {
    .navbar-nav>li>a {
      /* (80px - line-height of 27px) / 2 = 26.5px */
      padding-top: 26.5px;
      padding-bottom: 26.5px;
      line-height: 27px;
    }
  }
  
  .dropdown {
    position: static !important;
  }
  
  .dropdown-menu {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    margin-top: 0px !important;
    width: 100% !important;
  }
  
  #carousel {
    box-sizing: border-box;
    size: 100px;
  }
  
  /* ABOUT PAGE styling */
  
  .about {
    width: 100%;
    padding: 78px 0px;
    background-color: var(--ultraviolet);
  }
  
  .about img {
  height: auto;
  width: 420px;
  }
  
  .about-text {
    width: 550px;
  }
  
  .main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .about-text h1{
    color: var(--ashgrey);
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
  }
  
  .about-text h5{
  color: var(--dun);
  font-size: 25px;
  text-transform: capitalize;
  margin-bottom: 25px;
  letter-spacing: 2px;
  
  }
  
  span {
    color: var(--slategray);
  }
  
  .about-text p{
    color:var(--cambridgeblue);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
  
  }
  
  .about-button{
    background: var(--slategray);
    color: var(--dun);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
  
  }
  
  button:hover{
    background: transparent;
    border: 2px solid var(--slategray);
    cursor: pointer;
  }

  /* PHOTO PAGE styling */
.photography-title{
    color: var(--ashgrey);
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
    margin-left: 20px;
    text-align: center;
}
  .spacer-block{
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 100px;
  }

  .photo-block-1{
    padding: 10px;
    margin-top: 30px;
    margin-left: 20px;
  }

  .photo-block-2{
    padding: 10px;
    margin-top: 30px;
    margin-left: 500px;
  }
/* Grid */
  .gallery {
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(152, 8vw);
    grid-gap: 15px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
  }

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
  
    /** Alternative Syntax **/
    /* grid-column: 1 / span 2;  */
    /* grid-row: 1 / span 2; */
  }
  
  .gallery__item--2 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 5;
  
    /** Alternative Syntax **/
    /* grid-column: 3 / span 2;  */
    /* grid-row: 1 / span 2; */
  }
  
  .gallery__item--3 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 9;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4;
    grid-row: 1 / span 5; */
  }
  
  .gallery__item--4 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 9;
  
    /** Alternative Syntax **/
    /* grid-column: 1 / span 4;  */
    /* grid-row: 3 / span 3; */
  }
  
  .gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 9;
    grid-row-end: 13;
  
    /** Alternative Syntax **/
    /* grid-column: 1 / span 4; */
    /* grid-row: 6 / span 3; */
  }
  
  .gallery__item--6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 9;
    grid-row-end: 13;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
  }

  .gallery__item--7 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 13;
    grid-row-end: 17;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
  }

  .gallery__item--8 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 13;
    grid-row-end: 17;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
  }

  .gallery__item--9 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 17;
    grid-row-end: 21;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
  }

  .gallery__item--10 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 17;
    grid-row-end: 21;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
  }

  .gallery__item--11 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 21;
    grid-row-end: 25;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
  }

  .gallery__item--12 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 21;
    grid-row-end: 25;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
  }

  .gallery__item--13 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 25;
    grid-row-end: 29;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
  }

  .gallery__item--14 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 25;
    grid-row-end: 29;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
  }

  .gallery__item--15 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 29;
    grid-row-end: 33;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
  }

  .gallery__item--16 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 29;
    grid-row-end: 33;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
  }

  .gallery__item--17 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 33;
    grid-row-end: 41;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
  }

  .gallery__item--18 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 33;
    grid-row-end: 37;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
  }

  .gallery__item--19 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 37;
    grid-row-end: 41;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
  }

  .gallery__item--20 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 41;
    grid-row-end: 49;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
  }

  .gallery__item--21 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 41;
    grid-row-end: 49;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
  }

  .gallery__item--22 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 49;
    grid-row-end: 53;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
  }

  .gallery__item--23 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 49;
    grid-row-end: 53;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
  }

  .gallery__item--24 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 53;
    grid-row-end: 57;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
  }

  .gallery__item--25 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 53;
    grid-row-end: 57;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
  }

  .gallery__item--26 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 57;
    grid-row-end: 65;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
  }
  .gallery__item--27 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 57;
    grid-row-end: 61;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
  }
  .gallery__item--28 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 61;
    grid-row-end: 65;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
  }
  .gallery__item--29 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 65;
    grid-row-end: 73;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
  }
  .gallery__item--30 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 65;
    grid-row-end: 73;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
  }
  .gallery__item--31 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 73;
    grid-row-end: 81;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
  }
  .gallery__item--32 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 73;
    grid-row-end: 81;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
  }
  .gallery__item--33 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 81;
    grid-row-end: 89;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
  }
  .gallery__item--34 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 81;
    grid-row-end: 89;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
  }
  .gallery__item--35 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 89;
    grid-row-end: 97;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
  }
  .gallery__item--36 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 89;
    grid-row-end: 97;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
  }
  .gallery__item--37 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 97;
    grid-row-end: 105;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
  }
  .gallery__item--38 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 97;
    grid-row-end: 105;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
  }
  .gallery__item--39 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 105;
    grid-row-end: 113;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
  }
  .gallery__item--40 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 105;
    grid-row-end: 113;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
  }

  .gallery__item--41 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 113;
    grid-row-end: 117;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
  }
  .gallery__item--42 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 113;
    grid-row-end: 117;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
  }
  .gallery__item--43 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 117;
    grid-row-end: 121;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
  }
  .gallery__item--44 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 117;
    grid-row-end: 121;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
  }
  .gallery__item--45 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 121;
    grid-row-end: 129;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
  }
  .gallery__item--46 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 121;
    grid-row-end: 129;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
  }

  .gallery__item--47 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 129;
    grid-row-end: 137;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
  }
  .gallery__item--48 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 129;
    grid-row-end: 137;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
  }
  .gallery__item--49 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 137;
    grid-row-end: 145;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
  }
  .gallery__item--50 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 137;
    grid-row-end: 145;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
  }

  .gallery__item--51 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 145;
    grid-row-end: 153;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
  }
  .gallery__item--52 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 145;
    grid-row-end: 153;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
  }