:root {
  --dun: #DBCFB0;
  --ashgrey: #BFC8AD;
  --cambridgeblue: #90B494;
  --slategray: #718F94;
  --ultraviolet: #545775;

}

a {
  color: var(--jetblack-font-color);
}

body {
  margin: 0;
  background: #343434;
  font-family: 'Modern Sans', sans-serif;
  font-weight: 400;

}

.carousel-container {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;

}

.carousel-item:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
}

.btn {
  color: #DBCFB0 !important;
}

.container {
  width: 100%;
  margin: 0 auto;

}

.navbar {
  background-color: #343434 !important;
  min-height: 0px;
  max-width: 100%;
}

.navbar-brand {
  font-size: 30px;
  margin-right: 35%;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
}

.tooltip-inner {
  background-color: var(--cambridgeblue);
}

.tooltip.bottom .tooltip-arrow{ 
  border-color: var(--cambridgeblue);
}

.custom-tooltip {
  --bs-tooltip-bg: var(--ultraviolet);
}

.nav-item {
  padding-right: 35px;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  .navbar-nav>li>a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
}

.dropdown {
  position: static !important;
}

.dropdown-menu {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
  margin-top: 0px !important;
  width: 100% !important;
}

#carousel {
  box-sizing: border-box;
  size: 100px;
}